fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
tensorflow==2.17.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
matplotlib==3.9.2
scikit-learn==1.5.2
requests==2.32.3
